body {
    margin: 0;
    padding: 0;
}

#contenu {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 0;
}

header p {
    font-style: italic;
    color: grey;
}

header nav {
    width: 100%;
    height: 40px;
    background-color: grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

header #chapitres, header #connexion {
    visibility: hidden;
}

header #chapitres:active, header #connexion:active {
    visibility: inherit;
}

footer p {
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 0;
    background-color: black;
    color: white;
}
