body {
    margin: 0;
    padding: 0;
}

#contenu {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

p {
    text-align: justify;
    text-indent: 15px;
}

header {
    width: 100%;
    height: 90px;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 0;
    padding-top: 10px;
}

header p {
    font-style: italic;
    color: grey;
    margin-left: 150px;
    
}

nav {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: grey;
    color: white;
}

nav a {
    color: white;
}

nav ul {
    width: 700px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
nav li {
    margin: 0;
    cursor: pointer;
}

#chapitres {
    position: absolute;
    left: 630px;
    top: 124px;
    z-index: 2;
}

#chapitres li {
    border: 1px solid black;
    padding: 15px;
    background-color: lightgrey; 
}

#connexion {
    position: absolute;
    left: 950px;
    z-index: 2;
    background-color: lightgrey;
}

#connexion label, #connexion input {
    margin: 5px;
}

#chapitres, #connexion {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.1s;
    transition: height 0.1s;
}

#chapitres:target {
    height: 500px;
}

#connexion:target {
    height: 150px;
}

#contenuAccueil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 20px;
}

#presentation {
    padding: 30px;
}

#presentation h2 {
    text-align: center;
}

section img {
    width: 1000px;
}

#textePresentation {
    position: absolute;
    top: 280px;
    left: 150px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    padding: 25px;
}

#derniersChap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#derniersChap div {
    width: 300px;
}

aside {
    width: 280px;
    text-align: center;
    padding: 30px;
}
aside img {
    width: 180px;
    padding-left: 20px;
}

#comRec {
    margin-top: 100px;
}

#sectionCom {
    padding: 40px;
}

#ajoutCom {
    margin-top: 50px;
}

#admin {
    padding: 15px;
}

#nouveauChapitre form {
    max-width: 90%;
}

footer p {
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 0;
    background-color: black;
    color: white;
}
